# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# macOS
.DS_Store

# Node modules
node_modules/

# Logs
*.log

# Local environment overrides
.env
.env.local
config.local.js

# VSCode/intellij
.vscode/
.idea/

# Artifact directories
/dist
/build

# Python packaging
*.egg-info/
